body {
  font-family: sans-serif;
  background-color: #1c1c1c;
  color: #eee;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

h1, h2 {
  color: #f39c12;
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #3498db;
}

#log-entries {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  min-height: 100px;
}
